@media (min-width: 1028px) {
    .Btn-com1 {
        margin-top: 10%;
        transform: scale(1.3);
        border-radius: 0.1rem;
        border: none;
        background-color: blue;
        padding: 1% 4%;
        color: white;
      
      }
}