.Footer-main{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 8%;
    h1{
        margin: 0 0 0 0;
    }
    .Logo{
       
        width: 8%;
    }
    .text-field{
        display: inline-block;
        p{
            color: white;
            
        }
    }
    background: linear-gradient(135deg, rgba(12, 11, 11, 0.6), rgba(8, 6, 6, 1));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.4);
    min-height: 30vh;
 
}