.Main-Home {
  font-family: monospace;
  font-size: 5rem;
  text-align: center;
  font-weight: 700;
  color: #0f0f0f;
  padding-top: 8%;
}

.Main-Home h1 {
  margin-top: 0%;
  font-size: 3.5rem;
  background: -webkit-linear-gradient(130deg, #3002fd, #c5c20c);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.Main-Home .p-1 {
  font-size: 1.5rem;
  color: #0f0f0f;
}

.Main-Home .p-2 {
  color: gray;
  font-size: 1rem;
  padding: 2% 2%;
}

.Main-Home .p-3 {
  color: gray;
  font-size: 0.8rem;
  padding: 5% 5%;
}

.Main-Home .div-first {
  padding: 1%;
  position: relative;
  min-height: 30vh;
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Main-Home .div-first .Home-btn {
  background-color: #6F6B8B;
  color: white;
  border: 0.1px solid white;
  padding: 2%;
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
  border-radius: 6px;
}

.Main-Home .div-first .Down-arrow {
  color: white;
}

@media (min-width: 1028px) {
  .Main-Home {
    font-family: monospace;
    font-size: 5rem;
    text-align: center;
    font-weight: 700;
    color: #0f0f0f;
  }
  .Main-Home h1 {
    font-size: 5rem;
    background: -webkit-linear-gradient(130deg, #3002fd, #c5c20c);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .Main-Home .p-1 {
    font-size: 3rem;
    color: #0f0f0f;
  }
  .Main-Home .p-2 {
    color: gray;
    font-size: 2rem;
    padding: 0% 2%;
  }
  .Main-Home .p-3 {
    color: gray;
    font-size: 1rem;
    padding: 1% 5%;
    margin: 0% 0%;
  }
  .Main-Home .div-first {
    margin: 0 auto 0 auto;
    width: 80%;
    padding: 1%;
    position: relative;
    min-height: 30vh;
    background-color: black;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 10%;
  }
  .Main-Home .div-first .Home-btn {
    background-color: #ffffff;
    color: black;
    border: 0.1px solid white;
    padding: 0.5% 2% 0.5% 2%;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    border-radius: 6px;
  }
  .Main-Home .div-first .Down-arrow {
    color: white;
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
}
/*# sourceMappingURL=Home.css.map */