@media (min-width: 1028px) {
  .Profile-main {
    padding-top: 10%;
  }
  .Profile-main .Profile-upper-btns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 2rem;
    margin-left: 10%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .Profile-main .Profile-upper-btns .first-btn, .Profile-main .Profile-upper-btns .second-btn, .Profile-main .Profile-upper-btns .third-inputarea {
    background-color: #bdc0d8;
    margin-bottom: 2%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0.3% 1%;
    gap: 0.5rem;
    border: none;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 1px 1px #2b3f37;
            box-shadow: 0 0 1px 1px #2b3f37;
    cursor: pointer;
  }
  .Profile-main .massages-div {
    background-color: black;
    min-height: 40vh;
    width: 80%;
    margin: auto;
    margin-bottom: 18%;
  }
}
/*# sourceMappingURL=Profile.css.map */