@media (min-width: 1028px) {
  .Profile-main {
    .Profile-upper-btns {
      display: flex;
      gap: 2rem;
      margin-left: 10%;
      align-items: center;
      .first-btn {
        background-color: #bdc0d8;
        margin-bottom: 2%;
        display: flex;
        align-items: center;
        padding: 0.3% 1%;
        gap: 0.5rem;
        border: none;
        border-radius: 5px;
        box-shadow: 0 0 1px 1px rgb(43, 63, 55);
        cursor: pointer;
      }
      .second-btn {
        @extend .first-btn;
      }
      .third-inputarea {
        @extend .first-btn;
      }
    }
    padding-top: 10%;
    .massages-div {
      background-color: black;
      min-height: 40vh;
      width: 80%;
      margin: auto;
      margin-bottom: 18%;
    }
  }
}
