.Social-main {
  display: flex;
  flex-direction: row;
  position: fixed;
  z-index: 3;
  padding: 2% 1.1% 2%;
  display: flex;
  gap: 1.5rem;
  left:35%;
  top: 90%;
  color: #bdc0d8;
  
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  .Disco-react{
    cursor: pointer;
  }
}


@media (min-width: 1028px) {
    .Social-main {
        display: flex;
        flex-direction: column;
        position: fixed;
        z-index: 3;
        padding: 2% 1.1% 2%;
        display: flex;
        gap: 1.5rem;
        top: 50%;
        left: 2%;
        background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        border-radius: 20px;
        border: 1px solid rgba(255, 255, 255, 0.18);
        box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
        color: #bdc0d8;
      }
}